.blogs-container {
  border-radius: 1rem;
  background: linear-gradient(to bottom right, #476072e6, #334257e6),
    url(https://images.unsplash.com/reserve/uZYSV4nuQeyq64azfVIn_15130980706_64134efc6e_o.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 50rem;
}

.blogs-container > h3 {
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ccc;
}

.btn-add {
  width: 100%;
}

.btn-add > button {
  cursor: pointer;
  display: block;
  width: 25rem;
  height: 6rem;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1rem;
  margin: 5rem auto;
  color: #363537;
  border: 0.5rem solid #363537;
  border-radius: 0;
  background: #6b7aa1;
  box-shadow: 0 0 0 #506d84, 0 0 0 #889eaf, 0 0 0 #b3bac9;
  transition: all 0.15s ease-in;
}

.btn-add > button:hover,
.btn-add > button:active {
  transform: translateY(-1rem);
  box-shadow: 0.5rem 0.5rem 0 #506d84, 1rem 1rem 0 #889eaf,
    1.5rem 1.5rem 0 #b3bac9;
}

.blog-container {
  margin: 5rem 3rem;
  height: 60rem;
  width: 60rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.blog-container > button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #ccc;
  position: absolute;
  top: 1%;
  right: 1%;
  transition: all 0.2s;
  z-index: 10;
}

.blog-container > button:hover {
  transform: scale(1.5);
}

.blog-container > figure {
  width: 40rem;
  height: 30rem;
}

.blog-container > figure > img {
  width: 100%;
  height: 100%;
  filter: sepia(60%) grayscale(30%);
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}

.blog-container > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-container > div > h4 {
  font-size: 2rem;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 0.5rem;
}

.blog-container > p {
  width: 100%;
  text-align: center;
}

.blog-container > p:last-of-type {
  font-style: italic;
}

.blog-container > a,
.blog-container > a:visited {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
}

.blog-container > a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.2rem;
  background: #ccc;
  transition: width 0.3s;
}

.blog-container > a:hover::after,
.blog-container > a:active::after {
  width: 100%;
}

.btn-load-all {
  width: 100%;
}

.btn-load-all > button {
  height: 5rem;
  width: 35rem;
  color: #ccc;
  cursor: pointer;
  display: block;
  margin: 5rem auto;
  position: relative;
  background: #334257;
  border: 0.1rem solid #ccc;
  box-shadow: 0rem 0.4rem 0 white, 0.4rem 0.8rem 1.2rem #ccc;
  font-weight: 900;
  letter-spacing: 1rem;
  transition: all 0.2s linear;
}

.btn-load-all > button:hover,
.btn-load-all > button:active {
  background: #476072;
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(255, 255, 255, 0.2);
  color: #abc7db;
  text-decoration: none;
  text-shadow: -0.1rem -0.1rem 0 #136a65;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.refresh-message {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  margin-top: -3rem;
}

/* -------------------------------------------------- MEDIA QUERIES -------------------------------------------------- */

@media only screen and (max-width: 88.75em) {
  .blog-container {
    height: 65rem;
    width: 50rem;
  }
}

@media only screen and (max-width: 76.25em) {
  .blog-container {
    height: 70rem;
    width: 40rem;
  }
}

@media only screen and (max-width: 64em) {
  .blog-container {
    height: 65rem;
    width: 26rem;
    padding: 2rem;
    margin: 3rem 2rem;
  }

  .blog-container > figure {
    width: 25rem;
    height: 23rem;
  }

  .blog-container > div > h4 {
    font-size: 1.6rem;
  }

  .blog-container > p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 40em) {
  .blogs-container > h3 {
    font-size: 3rem;
  }

  .btn-add > button {
    width: 20rem;
    height: 5.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
    margin: 4rem auto;
  }

  .blog-container {
    height: 45rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
  }

  .blog-container > figure {
    width: 50rem;
    height: 20rem;
  }

  .btn-load-all > button {
    height: 4.5rem;
    width: 30rem;
    margin: 4rem auto;
    letter-spacing: 0.8rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .blogs-container > h3 {
    font-size: 2.5rem;
  }

  .btn-add > button {
    width: 18rem;
    height: 5rem;
    margin: 3rem auto;
  }

  .blog-container {
    height: 45rem;
    width: 100%;
  }

  .blog-container > figure {
    width: 35rem;
    height: 17rem;
  }

  .blog-container > div > h4 {
    font-size: 1.5rem;
  }

  .blog-container > p {
    font-size: 1.4rem;
  }

  .blog-container > a {
    font-size: 1.5rem;
  }

  .btn-load-all > button {
    height: 4rem;
    width: 25rem;
    letter-spacing: 0.5rem;
  }
}
