.about {
  margin: 0rem 5rem;
  padding-bottom: 5rem;
  height: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.about > p:first-of-type {
  font-size: 1.8rem;
}

.about > p:last-of-type {
  font-size: 1.8rem;
}

.about > p > span {
  display: block;
}

.about > div:last-of-type {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-links {
  width: 50%;
}

.about-links > a,
.about-links > a:visited {
  margin-right: 1.5rem;
  color: #eee;
  transition: all 0.2s;
}

.about-links > a:hover,
.about-links > a:active {
  color: #111;
}

/* -------------------------------------------------- MEDIA QUERIES -------------------------------------------------- */

@media only screen and (max-width: 64em) {
  .about {
    margin: -2rem 4rem 0rem 4rem;
    height: 45rem;
  }

  .about > div:last-of-type {
    width: 100%;
  }
}

@media only screen and (max-width: 40em) {
  .about {
    margin: -2rem 3rem 0rem 3rem;
    height: 50rem;
  }

  .about > div:last-of-type {
    width: 110%;
  }

  .about-links {
    width: 55%;
  }

  .about-links > a > svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media only screen and (max-width: 28em) {
  .about {
    margin: 0rem 2rem 0rem 2rem;
    height: 62rem;
  }

  .about > div:last-of-type {
    margin-top: 2rem;
    width: 110%;
  }

  .about-links {
    width: 55%;
  }

  .about-links > a > svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}
